<!-- Toolbar -->
<mat-toolbar  color="primary" class="toolbar">
    <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right:10px">stars</mat-icon>
    <span>Welcome</span>
    <div class="spacer"></div>
    <a *ngIf="!user" style="color: white;margin-right: 20px;" href="https://github.com/login/oauth/authorize?client_id=aefac7723ce0d3ba989b&scope=user&redirect_uri=http://localhost:4200/auth">登录</a>
    <ng-container *ngIf="user">
        <span>{{user.name}}</span><img mat-card-image [src]="user.avatar_url" alt="" class="image-container">
    </ng-container>
</mat-toolbar>
  
<div class="content" role="main">
   <ng-content></ng-content>
   <footer class="footer">
        <mat-toolbar style="background-color: transparent;">
            guang copyright@2021
        </mat-toolbar>
    </footer>
</div>

 <!-- Footer -->

